<% item = @item if item.nil? %>
<% item.children.each do |item| %>
   <div style="margin-left: 10px;">
      <p>
        <%= item.text %>
        <br />
        By: <%= link_to item.user.username, item.user %> <%= link_to 'Reply', item %>
      </p>
   </div>
<% end if item.has_children? %>

<%= render 'comment' %>
