<%
   # Set heirarchy.
   @comment = Comment.new
   @comment.item = @item
%>
<%= form_for(@comment) do |f| %>
   <%= f.text_area :text, :size => "60x5" %>

   <div class="actions">
      <%= f.submit :value => 'Comment' %>
   </div>
<% end %>
