<% @item.comments.each do |comment| %>
   <div style="margin-left: 10px;">
      <p>
        <%= comment.text %>
        <br />
        By: <%= link_to comment.user.username, comment.user %> <%= link_to 'Reply', comment %>
      </p>
   </div>
<% end %>

<%= render 'comment' %>
