<table>
<%= render :partial => 'items/item', :locals => { :item => @item } %>
</table>

<% if @item.text != ""%>
<p>
  <%= @item.text %>
</p>
<% end %>

<%= render 'comments' %>

<% if @item.user == current_user %>
<%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
